<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
     Snippets
    </h1>
    <p>
      This is an example of an Express website with handling persistent data.
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="https://expressjs.com/" role="button">
        Learn more »
      </a>
    </p>
  </div>
</div>
