<h1>
  <span class="far fa-trash-alt"></span> Delete
</h1>

<form method="post" action="/snippet/delete">
  <input type="hidden" name="id" value="{{viewData.id}}" />
  <div class="form-group">
    <input type="text" class="form-control" name="description" placeholder="Update code snippt description here" value="{{viewData.description}}" readonly="readonly" />
  </div>
  <button type="submit" class="btn btn-lg btn-primary" autofocus="autofocus">Delete</button>
</form>