<h1>
    <span class="far fa-list-alt"></span> Code snippets
</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {{#if viewData.codeSnippets.length }}
        {{#each viewData.codeSnippets}}
        <tr>
            <td class="w-100">{{this.description}}</td>
            <td>
                <a href="/snippet/edit/{{this.id}}"><span class="far fa-edit"></span></a>
                <a href="/snippet/delete/{{this.id}}"><span class="far fa-trash-alt"></span></a>
            </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
            <td colspan="3" class="text-center text-danger">
                No snippets to display.
            </td>
        </tr>
        {{/if}}
    </tbody>
</table>